*{
    margin: 0;
    padding: 0;
}
body, html{
    height:100%;
}
.list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px;
    border-style: dashed;
    border-radius: 15px;
    border-color: aqua;
    padding-left: 10px;
}
.item-menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 8px 8px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}
div{
    border: 1px solid;
    background-color: white ;
}
#container{
    background-color: aqua;
    display: flex;
    justify-content: space-around;

    height: 75px;
}
.item-menu:hover{
    color: aliceblue;
}
table{
    display: flex;
    justify-content: space-around;
    align-items: center;
}